.landing-page-container {
  height: 100%;
  background: #de6161;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2657eb, #de6161);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.landing-page-logo h1 {
  font-size: 20rem;
  color: #ffffff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }

.landing-page-component-wrapper {
  padding: 65px 50px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  width: 450px;
  max-width: 100%; }

.signinFormContainer h2,
.signupFormContainer h2 {
  text-align: center; }

.signinFormContainer button,
.signupFormContainer button {
  margin-bottom: 10px; }

.dashboard-header-wrapper {
  padding: 0; }
  .dashboard-header-wrapper nav {
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); }

.dashboard-main-row {
  height: 100%; }

.dashboard-sidebar {
  padding: 0;
  box-shadow: 9px -3px 10px -12px rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(240, 240, 240, 0.5); }
  .dashboard-sidebar .list-group-item {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent; }
  .dashboard-sidebar ul {
    padding: 0; }
  .dashboard-sidebar .fa {
    font-size: 1.3em;
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px; }
  .dashboard-sidebar a:nth-child(1) .fa {
    color: #2657eb; }
  .dashboard-sidebar a:nth-child(2) .fa {
    color: #de6161; }
  .dashboard-sidebar a:nth-child(3) .fa {
    color: #5f2c82; }
  .dashboard-sidebar a:nth-child(4) .fa {
    color: #49a09d; }
  .dashboard-sidebar a:nth-child(5) .fa {
    color: #DC2424; }
  .dashboard-sidebar a:nth-child(6) .fa {
    color: #4A569D; }
  .dashboard-sidebar a {
    color: inherit;
    text-decoration: none; }
    .dashboard-sidebar a:hover {
      text-decoration: none; }
  .dashboard-sidebar .selected {
    background: rgba(240, 240, 240, 0.5); }
  .dashboard-sidebar .list-group-item {
    border-bottom-color: rgba(240, 240, 240, 0.5); }

.dashboard-main-section {
  padding-top: 15px; }

.dashboard-card-layout {
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2); }
  .dashboard-card-layout h1, .dashboard-card-layout h5, .dashboard-card-layout h6 {
    margin: 0; }
  .dashboard-card-layout .dashboard-card-name-wrapper {
    background: #2d97d1;
    padding: 30px 10px;
    color: #ffffff; }
    .dashboard-card-layout .dashboard-card-name-wrapper h1 {
      padding: 30px;
      background: #ffffff;
      display: inline-block;
      border-radius: 50%;
      margin-bottom: 20px;
      box-shadow: 0px 0px 15px #3a3a3a;
      font-weight: 600;
      color: #2479a7; }
    .dashboard-card-layout .dashboard-card-name-wrapper h5 {
      opacity: 0.9;
      font-weight: 600; }
  .dashboard-card-layout .dashboard-card-location-wrapper {
    padding: 10px;
    background: #1b5a7d;
    color: #ffffff; }
    .dashboard-card-layout .dashboard-card-location-wrapper .fa {
      margin-right: 5px;
      font-size: 1.1rem; }
  .dashboard-card-layout .dashboard-card-contact-info {
    padding: 30px;
    padding-bottom: 20px; }
    .dashboard-card-layout .dashboard-card-contact-info .fa {
      width: 30px;
      text-align: center;
      margin-right: 5px;
      font-size: 20px;
      color: #2d97d1; }
  .dashboard-card-layout p {
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 5px;
    display: flex;
    align-items: center; }
    .dashboard-card-layout p:nth-of-type(1) .fa {
      font-size: 35px; }
    .dashboard-card-layout p a {
      color: inherit;
      text-decoration: none; }

body, html, #root, [data-reactroot], .homeBodyClass {
  height: 100%; }
